.container {
  margin-top: 129px;
  padding-bottom: 50vh;
}

.total {
  font-size: 30px;
  margin-left: 27px;
  padding: 55px;
  font-size: 20px;
  color: #656363;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.cart {
  display: grid;
  grid-template-columns: [border1]27px [middle]auto [border2]27px;

  &--contents {
    display: grid;
    grid-column: middle;
    grid-template-columns: [middle]auto;
  }
}

.delete {
  display: block;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #f54d56;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: [col1]30% [col2]70%;
  justify-content: center;

  &--first {
    grid-column: col1;
  }

  &--last {
    display: grid;

    grid-column: col2;

    .description {
      align-items: center;
      align-self: center;
    }
  }
}
