.container {
  margin-top: 129px;
}

.total {
  font-size: 30px;
  margin-left: 27px;
  font-weight: bold;
}

.cart {
  display: grid;
  grid-template-columns: [border1]27px [middle]auto [border2]27px;

  &--contents {
    display: grid;
    grid-column: middle;
    grid-template-columns: [line1]33% [line2]33% [line3]33%;
  }
}
