.container {
  margin-top: 129px;
}

.total {
  font-size: 30px;
  margin-left: 27px;
  font-weight: bold;
}

.cart {
  display: grid;
  grid-template-columns: [border1]27px [middle]auto [border2]27px;

  &--contents {
    display: grid;
    grid-column: middle;
    grid-template-columns: [middle]auto;
  }
}

.delete {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 150px;
  padding: 20px;
  color: white;
  background-color: #f54d56;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: [col1]40% [col2]60%;

  &--first {
    grid-column: col1;
  }

  &--last {
    grid-column: col2;
  }
}
