.products {
  margin-top: 129px;

  &--title {
    padding: 55px;
    font-size: 20px;
    color: #656363;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &--container {
    display: grid;
    grid-template-columns: [line1]auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (min-width: 720px) {
      grid-template-columns: [line1]33.33% [line2]33.33% [line3]33.33%;
    }
  }
}
