html,
body {
  line-height: 1 !important;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-size: 16px;
  color: #7f7f7f;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

li:hover {
  color: #656363;
}

.navigation-bar {
  position: absolute;
  display: flex;
  top: 0px;
  background-color: #fcfcfc;
  width: 100%;
  z-index: 999;

  &--contents {
    display: flex;
    width: 100%;
    max-width: 980px;
    padding: 42px;
    margin-left: auto;
    margin-right: auto;
    justify-content: baseline;
  }

  &--text {
    color: #656363;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  &--menu {
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &--cart {
    display: inline-block;
    margin-left: auto;
    background: url("../../media/svg/shopping-cart.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.5);
    }
  }
}
