.item {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  .description {
    max-width: 65%;
  }

  .product {
    width: 325px;
  }

  &--container {
    display: flex;
    flex-direction: row;

    grid-column: content;
    margin-top: 130px;
  }
}
