.modal {
  background-color: white;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  position: fixed;
  border-radius: 3px;
  width: 500px;
  height: 200px;
  transition: 0.5s;
  left: calc(50% - 250px);
  top: calc(50% - 100px);
  z-index: 10;
}
