.modal {
  background-color: white;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  position: fixed;
  border-radius: 3px;
  height: 500px;
  width: 700px;
  overflow: scroll;
  transition: 0.5s;
  left: calc(50% - 350px);
  top: calc(50% - 250px);
  z-index: 1001;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &--contents {
    display: table;
    text-align: center;

    &--img {
      width: 50px;
      height: 50px;
    }
  }
}
