.product {
  display: flex;
  flex-direction: column;
  width: 20%;

  height: 300px;
  background-color: darkred;
  margin: 17px;
  align-items: center;
  z-index: 1;

  &--image {
    background-position: center;
    background-color: aliceblue;
    background-size: 100%;
    width: 100%;
    height: 100%;
    max-height: 200px;
  }

  &--name {
    color: white;
    font-size: 20px;
  }

  &--price {
    color: white;
    font-size: 20px;
  }

  &--btn {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 20px;
    height: 20px;
  }

  &--button {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    &--minus {
      background: url("../../media/svg/minus.svg");
    }

    &--product--button--counter {
    }

    &--plus {
      background: url("../../media/svg/add.svg");
    }
  }
}
