.item {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  .description {
    max-width: 65%;
  }

  .product {
    width: 325px;
  }

  &--container {
    display: flex;
    flex-direction: row;

    grid-column: content;
    margin-top: 130px;
  }
}

.button {
  display: block;
  margin: 10px;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 150px;
  padding: 20px;
  color: white;
  background-color: #f54d56;
  cursor: pointer;
}
